.form-group1 {
  width: 20%;
}
.form-group2 {
  width: 40%;
}
.product {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid black;
  float; left;
  width: 40%;
}

div.col-md-3 {
  border-left:2px solid black;
}
#cartitem {
  text-decoration: underline;
}
